#sidebar {
  width: 300px;
  height: 100vh;
  background-color: #9FB4C7;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform .3s;
              /* cubic-bezier(0, .52, 0, 1); */
  /* overflow: scroll; 
  transform: translateX(300px);*/
  z-index: 1000;
}
 
#sidebar.hide {
  transform: translateX(-300px);
}
 
#sidebar.show {
  transform: translateX(0px);
  overflow: hidden;
}
 
#sidebar h2 a {
  color: #333;
  margin-left: 15px;
  text-decoration: none;
}
 
#sidebar h2 a:hover {
  text-decoration: underline;
}

.sidebar-button {
  padding: 22px 17px;
  color: #fff;
  position: absolute;
  z-index: 1;
  top: 0;
}

.sidebar-close {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  float: right;
  padding: 6px;
  border: none;
}

.sidebar-container {
  margin: 25px 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.sidebar-filter {
  width: 240px;
  height: 20px;
}

/* .sidebar-filter:focus {
  border: 2px solid lightblue;
} */

/* .filter-button {
  height: 26px;
  width: 50px;
} */

ol {
  list-style: none;
  display: inline;
}

li {
  display: block;
  padding: 10px;
}

li:hover {
  background-color: rgb(72, 99, 129);
  cursor: pointer;
}

@media screen and (max-width: 540px) {

  #sidebar {
    width: 88%;
  }

  #sidebar.hide {
    transform: translateX(-100%);
  }
   
  .sidebar-container {
    text-align: center;
  }

}